 * {
    border: 0px;
    border-collapse: separate;
    border-spacing: 0px;
    font-size: 100%;
    margin: 0px;
    opacity: 0.9999;
    padding: 0px;
}

body {
    background: #000;
    margin: 0;
    padding: 40px 20px;
    font: x-small "Trebuchet MS", Trebuchet, Verdana, Sans-Serif;
    text-align: center;
    color: #ccc;
    font-size: small;
    font-size: small;
}

a:link {
    color: #9ad;
    text-decoration: none;
}

a:visited {
    color: #a7a;
    text-decoration: none;
}

a:hover {
    color: #ad9;
    text-decoration: underline;
}

a img {
    border-width: 0;
}

/* Header
 ----------------------------------------------- */
@media all { #header {

border-width:
        0;

height:
        269px;

margin-left:auto;

margin-right:auto;

width:
        700px;
}
}
@media handheld { #header {

width:
        90%;
}
}

/* Content
 ----------------------------------------------- */
@media all { 

#content {

width:700px;

margin:0 auto;

padding:2em 0;

text-align:left;
} 

#main {
        width: 450px;
        float: left;
} 

#sidebar {
        width: 220px;
        float: right;
}

ul il {
        list-style: inside;
}
}
@media handheld { #content {

width:
        90%;
} #main {
        width: 100%;
        float: none;
} #sidebar {
        width: 100%;
        float: none;
}
}

/* Headings
 ----------------------------------------------- */
h1 {
    margin: .75em 0 0;
    font-size: 200%;
    color: #ad9;
}

h2 {
    margin: 1.5em 0 .75em;
    font: bold 78% / 1.4em "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #777;
}

/* Posts
 ----------------------------------------------- */
@media all { .date-header {

margin:
        1.5em 0 .5em;
} 

.post {
        margin: .5em 0 1.5em;
        border-bottom: 1px dotted #444;
        padding-bottom: 1.5em;
}
}
@media handheld { .date-header {

padding:
        0 1.5em 0 1.5em;
} .post {
        padding: 0 1.5em 0 1.5em;
}
} .post-title {
    margin: .25em 0 0;
    padding: 0 0 4px;
    font-size: 140%;
    line-height: 1.4em;
    color: #ad9;
} .post-title a {
    text-decoration: none;
    color: #ad9;
} .post-title a:hover {
    color: #fff;
} .post div p {
    margin: 0 0 .75em;
    line-height: 1.6em;
}

p.post-footer {
    margin: -.25em 0 0;
    color: #333;
} .post-footer em, .comment-link {
    font: 78% / 1.4em "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
} .post-footer em {
    font-style: normal;
    color: #777;
    margin-right: .6em;
} .comment-link {
    margin-left: .6em;
} .post img {
    padding: 4px;
    border: 1px solid #222;
} .post blockquote {
    margin: 1em 20px;
} .post blockquote p {
    margin: .75em 0;
}

/* Comments
 ----------------------------------------------- */ #comments h4 {
    font: bold 78% / 1.6em "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
} #comments{
    color: #999;
    margin: 1em 0;
} h4{
	color: #ad9;
    margin: 25px 0 15px;
}#comments h4 strong {
    font-size: 130%;
} #comments-block {
    margin: 1em 0 1.5em;
    line-height: 1.6em;
} #comments-block dt {
    margin: .5em 0;
} #comments-block dd {
    margin: .25em 0 0;
} #comments-block dd.comment-timestamp {
    margin: -.25em 0 2em;
    font: 78% / 1.4em "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
} #comments-block dd p {
    margin: 0 0 .75em;
} .deleted-comment {
    font-style: italic;
    color: gray;
} .paging-control-container {
    float: right;
    margin: 0px 6px 0px 0px;
    font-size: 80%;
} .unneeded-paging-control {
    visibility: hidden;
}

/* Sidebar Content
 ----------------------------------------------- */ #sidebar ul {
    margin: 0 0 1.5em;
    padding: 0 0 1.5em;
    border-bottom: 1px dotted #444;
    list-style: none;
} #sidebar li {
    margin: 0;
    padding: 0 0 .25em 15px;
    text-indent: -15px;
    line-height: 1.5em;
} #sidebar p {
    color: #999;
    line-height: 1.5em;
}

/* Profile
 ----------------------------------------------- */ #profile-container {
    margin: 0 0 1.5em;
    border-bottom: 1px dotted #444;
    padding-bottom: 1.5em;
} .profile-datablock {
    margin: .5em 0 .5em;
} .profile-img {
    display: inline;
} .profile-img img {
    float: left;
    padding: 4px;
    border: 1px solid #222;
    margin: 0 8px 3px 0;
} .profile-data {
    margin: 0;
    font: bold 78% / 1.6em "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
} .profile-data strong {
    display: none;
} .profile-textblock {
    margin: 0 0 .5em;
} .profile-link {
    margin: 0;
    font: 78% / 1.4em "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/* Footer
 ----------------------------------------------- */ #footer {
    width: 660px;
    clear: both;
    margin: 0 auto;
} #footer hr {
    display: none;
} #footer p {
    margin: 0;
    padding-top: 15px;
    font: 78% / 1.6em "Trebuchet MS", Trebuchet, Verdana, Sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/* Feeds
 ----------------------------------------------- */ #blogfeeds {
} #postfeeds {
}

/* Dividers
  -----------------------------------------------*/ #divider{
  	margin:10px 0 50px 0;
  }
  
  /* Tables
   * ------------------------------------------- */ 
table{
	display:inline;
}
td{
   	border:1px dotted #444;
}