body {
  background:#000;
  margin:0;
  padding:40px 20px;
  font:x-small "Junction","Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
  text-align:center;
  color:#ccc;
  font-size:small;
  font-size:small;
  }
a:link {
  color:#9ad;
  text-decoration:none;
  }
a:visited {
  color:#a7a;
  text-decoration:none;
  }
a:hover {
  color:#ad9;
  text-decoration:underline;
  }
a img {
  border-width:0;
  }
