@media all { 
#header {
    width: 700px;
    height: 269px;
    border-width: 0;
    margin-left: auto;
    margin-right: auto;
	} 

#header img {
    display: inline;
	}
}
@media handheld { 
#header {
	width: 90%;
	}
}